h1, h2, h3 {
  font-weight: normal;
  color: #122140;
}
a, a > code {
  color: #4C84B7;
}

/* inline code highlighting */
/* https://github.com/yihui/xaringan/wiki/Inline-code-highlighting */

.remark-inline-code{
  /* background: #F5F5F5; /* lighter */
  background: #edf2f7; /* darker */
  border-radius: 5px;
  padding: 1.75px;
}
.remark-code-line-highlighted { 
  background-color: #c9dae9; 
}

/* code chunk background layer */
pre {
  border: 1px solid #c9dae9; /* code chunk border*/
  box-shadow: 2px 2px 2px #eee;
  padding: 0.25em;
  background: #c9dae9 !important;
  overflow-x: auto;
  border-radius: 5px; /* modify rounding of corners*/
}
pre code { 
  background: none; 
  font-size: 1.25rem !important; 
}

.hljs {
	background: #c9dae9; /* code chunk background */
}

.inverse {
  /*background-color: #2E3440;*/
  background-color: #4C84B7;
  text-shadow: none;
}

.inverse, .inverse h1, .inverse h2, .inverse h3, .inverse a, inverse a > code {
  color: #ffffff;
}

.em {
  font-style: italic;
}
.bold {
  font-weight: bold;
}

/* title slide */
.title-slide {
  background-color: #1e2c3c;
}
.title-slide h1 {
  color: #ECEFF4;
}
.title-slide h2, .title-slide h3 {
  color: #ECEFF4; 
  line-height: 1em;
}

/* footnotes */
.footnote {
  position: absolute;
  bottom: 1em;
  right: 5px;
  padding-right: 1em;
  font-size: 80%;
}

/* 3-column split */
/* https://rstudio-education.github.io/teaching-in-production/ */

.flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.column {
  float: left;
  width: 25%;
  text-align: center;
}


/*-------*/


.columns {
  display: flex;
}

.left-col {
  width: 33%;
  text-align: left;
}

.middle-col {
  width: 33%;
  text-align: left;
  padding-left: 20px;
}

.right-col {
  width: 33%;
  text-align: left;
  padding-left: 20px;
}